.autocomplete {
  display: flex;
  position: absolute;
  width: 350px;
  flex-wrap: wrap;
  border: 1px solid rgb(159, 156, 156);
  background-color: azure;
  padding: 10px;
  gap: 6px;
  border-radius: 10px;
  top: 50px;
}

.item {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(159, 156, 156);
  cursor: pointer;
}

.item:hover {
  cursor: pointer;
  background-color: rgb(206, 206, 206);
}
